body{
    font-family: arial, sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem, 2rem;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.btn-primary {
  background: black;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.search-bar input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.task-card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.badge {
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.badge.pendente { background: #fff5cc; color: #a67c00; }
.badge.andamento { background: #e6f0ff; color: #0055cc; }
.badge.concluida { background: #dfffe0; color: #007a33; }

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-content label {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-content button {
  margin-top: 1rem;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}